<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scrape-That-News-App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header"><a class="navbar-brand" href="/">Scrape-that-News-App</a></div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" id="allArticles">Home</a></li>
                <li><a href="/saved" id="savedArticles">Saved Articles</a></li>
            </ul>
        </div>
    </nav>
     <div class="backgroundImage">
        <img src="/assets/img/other-media.jpg" alt="mediaImage" class="responsive-img" width="100%">
    </div>

    {{{body}}}

    <footer class="primary-footer group">
        <small>&copy; Copyright 2018 Shirley Ramirez</small>
    </footer>

    <script src="/js/savedArticle.js"></script>
</body>
</html>