{{#each articles}}
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading" id="panelHead">
                <h3 class="panel-title">{{this.title}}</h3>
            </div>
            <div class="panel-body">
                <a href="{{this.link}}" id="savedLink">{{this.link}}</a>
                <button type="button" class="btn btn-default addNoteButton">Article Notes</button>
                <button type="button" class="btn btn-default deleteArticleButton">Delete From Save</button>
            </div>
        </div>
    </div>
 {{/each}}

 {{!-- Modal for --}}