.navbar-inverse {
    margin-bottom: 0 !important;
}

.navbar-brand {
    color: white !important;
    font-weight: bolder;
}

.primary-footer {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
}

input {
    display: none !important;
}

.saveArticleButton {
    float: right;
}